@font-face {
    font-family: 'libFont';
    src: url("/fonts/Library\ Records\ DEMO.ttf");
}

*{
    font-family: 'libFont', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.overlay{
    position: absolute;
    height: 100vh;
    width: 100%;
    background: black;
    opacity: .8;
    display: flex;
    justify-content: center;
    align-items: center;
    //visibility: hidden;
}
.bookForm{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: #335;
    height: 500px;
    width: 400px;
    border-radius: 15px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    //visibility:hidden;
    // input, label{
    //     display: block;
    // }
    input{
        // border-radius: 1px;
        border: none;
        border-bottom: solid 3px black;
        background-color: #335;
    }
    input, label{
        font-size: 20px;
    }
    label{
        display: inline-block;
        width: 1px;
        text-align: left;//left
        margin-right: 10px;
        transform: translateX(10px);
        scale: 1.75;//1.75
        &:focus{
            text-align: right;
        }
    }
}

.header{
    background-color: gray;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1{
        padding: 20px;
        font-size: 60px;
        color: #222;
    }
    ul{
        list-style-type: none;
        padding: 0 50px;
        font-family: 'libFont', Arial, Helvetica, sans-serif;
        font-size: 30px;
        color: #222;
        cursor: pointer;
        li{
           &:active{
            scale: .95;
            color: #111;
           } 
        }
    }
}
@keyframes inputChange {
    from{
        transform: translateX(10px);
        scale: 1.75;
        text-align: left;
    }

    to{
        scale: 1;
        width: 50px;
        text-align: right;
    }
}