@font-face {
    font-family: 'libFont';
    src: url("/fonts/Library\ Records\ DEMO.ttf");
}

*{
    margin: 0;
    padding: 0;
}

.header{
    background-color: gray;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1{
        padding: 20px;
        font-family: 'libFont', Arial, Helvetica, sans-serif;
        font-size: 60px;
        color: #222;
    }
    ul{
        list-style-type: none;
        padding: 0 50px;
        font-family: 'libFont', Arial, Helvetica, sans-serif;
        font-size: 30px;
        color: #222;
        cursor: pointer;
    }
}