@font-face {
    font-family: 'libFont';
    src: url("/fonts/Library\ Records\ DEMO.ttf");
}

*{
    margin: 0;
    padding: 0;
}

.overlay{
    position: absolute;
    height: 100vh;
    width: 100%;
    background: black;
    opacity: .8;
    display: flex;
    justify-content: center;
    align-items: center;
    //visibility: hidden;
}
.bookForm{
    position: absolute;
    display: flex;
    background-color: #335;
    height: 500px;
    width: 400px;
    border-radius: 15px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    //visibility:hidden;
}

.header{
    background-color: gray;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1{
        padding: 20px;
        font-family: 'libFont', Arial, Helvetica, sans-serif;
        font-size: 60px;
        color: #222;
    }
    ul{
        list-style-type: none;
        padding: 0 50px;
        font-family: 'libFont', Arial, Helvetica, sans-serif;
        font-size: 30px;
        color: #222;
        cursor: pointer;
        li{
           &:active{
            scale: .95;
            color: #111;
           } 
        }
    }
}